/* Tags Comuns */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{

    padding: 0;
    margin: 0;
    font-family: "Kanit", Arial, Helvetica, sans-serif;

}
/* Fim das tags comuns */

/* Navbar */
.navbar{

    height: 6em;
    background-color: #313131;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 3em;
    padding-right: 3em;

}

.navbar .logo{

    height: 4.5em;
    width: 4.5em;
    border-radius: 3em;
    background-color: #FFD369;

    background-image: url('../images/logo.png');

    background-size: contain;
    background-repeat: no-repeat;

    background-position: center center;

}

.navbar .menu{

    display: flex;
    gap: 1.5em;

}

.navbar .menu .user-area{

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

}

.navbar .menu .user-area p{
    margin-bottom: .1em;
}

.navbar .menu .user-area .logout{

    display: flex;
    align-items: center;

}

.navbar .menu .user-area a{

    text-decoration: none;
    color: white;

}

.navbar .menu .user-area p{
    margin-left: .3em;
}

.navbar .menu .user-area .logout img{

    width: 1em;
    height: 1em;
    filter: invert(100%);
    margin-right: .2em;

}
/* Fim da navbar */

/* Classes de corpo */
.center{

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1em;

    height: calc(100vh - 6em);

}

.grid{

    display: grid;
    place-items: center;
    grid-template-columns: 33% 33% 33%;

    gap: 3em 3em;

    margin-right: 6.5em;

}

.grid .item{

    width: 15em;
    height: 10em;
    background-color: #dcdcdc;

    border-radius: 1em;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

}

.grid .item h1{

    font-size: 1.5em;
    margin-top: 1em;

}

.grid .item button{

    width: 11em;
    height: 2em;

    border: none;
    border-radius: 1em;

    cursor: pointer;

    font-size: 1em;

    background-color: #FFD369;

    transition: 200ms;

}

.grid .item button:hover{

    transform: scale(1.1);
    background-color: #d6b056;

    transition: 200ms;

}
/* Fim das classes de corpo */