/* Tags Comuns */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{

    padding: 0;
    margin: 0;
    font-family: "Kanit", Arial, Helvetica, sans-serif;

}

body{

    background-image: url("../images/pastel.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
/* Fim das tags comuns */

/* Formulario de Login */
.login{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    
}

.form-login{

    width: 30em;
    height: 100vh;
    background-color: #f1f1f1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.form-login .icon-holder{

    padding: .7em;
    border-radius: 10em;

}

.form-login .icon-holder img{

    width: 5em;
    height: 5em;

}

.form-login h1{

    font-size: 3em;
    margin-top: .1em;

}

.form-login label{

    font-size: 1.3em;
    margin-top: .5em;
    margin-bottom: .1em;

}

.form-login input[type="text"], input[type="password"]{

    width: 20em;
    border-radius: .4em;
    border: .1em solid black;
    padding-left: .5em;
    padding-right: .5em;

}

.form-login input[type="submit"]{

    margin-top: 1em;
    font-size: 2em;

    border-radius: .4em;
    border: none;
    
    background: linear-gradient(90deg, rgb(252, 196, 67) 0%, rgb(248, 227, 150) 50%, rgb(252, 196, 67) 100%);

    width: 4em;

    transition: 200ms;

}

.form-login input[type="submit"]:hover{

    background: linear-gradient(90deg, rgb(252, 196, 67) 0%, rgb(248, 227, 150) 35%, rgb(248, 227, 150) 65%, rgb(252, 196, 67) 100%);

    transform: scale(1.15);
    transition: 200ms;

}
/* Fim do formulario de login */

.grid{

    display: grid;
    gap: 0;
    grid-template-columns: 25% 75%;
    background-color: transparent;

}

/* Banner da empresa */
.center{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.center .frame{

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.192);
    width: 50em;
    height: 20em;

}

.center .frame h1{

    font-size: 4em;

}
/* Fim do banner da empresa */

/* Aviso de erro de submissão */
.aviso{

    display: grid;
    grid-template-columns: 20% 80%;
    width: 13em;

    padding: .3em;

    background-color: #e2564c62;
    border: .2em solid #e2574c;

    display: none;

}

.aviso .img-holder{

    display: flex;
    align-items: center;
    justify-content: center;

}

.aviso .txt-holder{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aviso img{

    width: 2em;
    height: 2em;

}
/* Fim do aviso de erro de submissão */