/* Tags Comuns */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{

    padding: 0;
    margin: 0;
    font-family: "Kanit", Arial, Helvetica, sans-serif;

}

body{

    overflow: hidden;

}
/* Fim das tags comuns */

/* Navbar */
.navbar{

    height: 6em;
    background-color: #313131;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 3em;
    padding-right: 3em;

}

.navbar h1{

    color: white;
    font-size: 3em;

}

.navbar .logo{

    height: 4.5em;
    width: 4.5em;
    border-radius: 3em;
    background-color: #FFD369;

    background-image: url('../images/logo.png');

    background-size: contain;
    background-repeat: no-repeat;

    background-position: center center;

}

.navbar .menu{

    display: flex;
    gap: 1.5em;

}

.navbar .menu button{

    width: 9em;
    height: 3.5em;
    background-color: #FFD369;

    border: none;
    border-radius: 2em;

    cursor: pointer;

    transition: 200ms;

}

.navbar .menu button:hover{

    transform: scale(1.1);
    background-color: #d6b056;

    transition: 200ms;

}

.navbar .menu .user-area{

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

}

.navbar .menu .user-area p{
    margin-bottom: .1em;
}

.navbar .menu .user-area .logout{

    display: flex;
    align-items: center;

}

.navbar .menu .user-area a{

    text-decoration: none;
    color: white;

}

.navbar .menu .user-area p{
    margin-left: .3em;
}

.navbar .menu .user-area .logout img{

    width: 1em;
    height: 1em;
    filter: invert(100%);
    margin-right: .2em;

}
/* Fim da navbar */

/* Classes do corpo */
.center{

    height: calc(100vh - 6em);

    display: flex;
    justify-content: start;
    align-items: center;

    flex-direction: column;

}

.center .header{
    width: 90%;
    height: 4em;
    
    margin-top: 3em;
    border-radius: 1em 1em 0 0 ;
    
    background-color: #313131;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Filtro */

.center .header #filter{
    margin-right: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.center .header img{
    width: 1em;
    height: 1em;

    margin-left: 1em;

    filter: invert(100%);

    cursor: pointer;
}

.center .header #filter button{
    width: 6em;
    height: 2em;

    border: none;
    border-radius: .5em;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #FFD369;
    
    transition: 200ms;
}

.center .header #filter button:hover{
    background-color: #d6b056;

    transition: 200ms;
}

.center .header #filter .selected{
    width: 6em;
    height: 2em;

    border: none;
    border-radius: .5em;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #d6b056;

    transform: scale(.95);
    
    transition: 200ms;
}

/* Fim do filtro */

.center .header input[type='date']{
    
    height: 2em;
    
    padding-left: .5em;
    padding-right: .5em;
    
    border-radius: 1em 0 0 1em;
    border: none;
    
}

.center .header label{
    margin-left: 3em;
    margin-right: .5em;
    color: white;
    
}
.center .header .search{
    height: 2em;
    width: 2em;

    background-color: #FFD369;

    border-radius: 0 1em 1em 0;
    border: none;

    cursor: pointer;

}

.center .reports{
    width: 90%;
    height: 25em;

    background-color: #dcdcdc;

    border-radius: 0 0 1em 1em;
    overflow-y: scroll;
}

.center .reports::-webkit-scrollbar{
    display: none;
}

.center .reports table{

    width: 100%;
    border-spacing: 0;
    text-align: center;

}

.center .reports table th{
    
    border: .1em solid grey;
    
}

.center .reports table td{
    border-bottom: .1em solid grey;
}

.center .reports table .normal-row:hover{
    background-color: #9a9a9a;
}
/* Fim das classes do corpo */