/* Tags Comuns */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{

    padding: 0;
    margin: 0;
    font-family: "Kanit", Arial, Helvetica, sans-serif;

}
/* Fim das tags comuns */

/* Navbar */
.navbar{

    height: 6em;
    background-color: #313131;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 3em;
    padding-right: 3em;

}

.navbar h1{

    color: white;
    font-size: 3em;

}

.navbar .logo{

    height: 4.5em;
    width: 4.5em;
    border-radius: 3em;
    background-color: #FFD369;

}

.navbar .menu{

    display: flex;
    gap: 1.5em;

}

.navbar .menu button{

    width: 9em;
    height: 3.5em;
    background-color: #FFD369;

    border: none;
    border-radius: 2em;

    transition: 200ms;

}

.navbar .menu button:hover{

    transform: scale(1.1);
    background-color: #d6b056;

    transition: 200ms;

}

.navbar .menu .user-area{

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

}

.navbar .menu .user-area p{
    margin-bottom: .1em;
}

.navbar .menu .user-area .logout{

    display: flex;
    align-items: center;

}

.navbar .menu .user-area a{

    text-decoration: none;
    color: white;

}

.navbar .menu .user-area p{
    margin-left: .3em;
}

.navbar .menu .user-area .logout img{

    width: 1em;
    height: 1em;
    filter: invert(100%);
    margin-right: .2em;

}
/* Fim da navbar */

/* Classes de corpo */

.center{

    height: calc(100vh - 6em);

    display: flex;
    justify-content: start;
    align-items: center;

    flex-direction: column;

}

.table-header{

    margin-top: 3em;

    width: 60em;
    height: 4em;
    background-color: #313131;

    border-radius: 1em 1em 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Barra de pesquisa */
.table-header #searchbox{

    display: flex;
    gap: 0;

}

.table-header #searchbox input[type="text"]{

    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;

    border: none;

    border-radius: 1em 0 0 1em;

}

.table-header #searchbox input[type="text"]:focus, input[type="submit"]:focus{
    outline: none;
}

.table-header #searchbox input[type="submit"]{

    border: none;

    background-color: #FFD369;

    width: 2em;
    border-radius: 0 1em 1em 0;

}
/* Fim da barra de pesquisa */

/* Filtro */
.table-header #filter{

    margin-right: 2em;
    display: flex;
    gap: 1em;

}

.table-header #filter input[type="date"]{

    border-radius: 1em;
    border: none;

    padding-left: 1em;
    padding-right: 1em;

}

.table-header #filter input[type="date"]:focus, input[type="submit"]:focus{
    outline: none;
}

.table-header #filter input[type="submit"]{

    width: 5em;
    border-radius: 1em;
    border: none;
    background-color: #FFD369;

    transition: 200ms;

}

.table-header #filter input[type="submit"]:hover{

    background-color: #d6b056;

    transition: 200ms;

}
/* Fim do filtro */

.table-header #filter button{
    
    width: 2.3em;
    height: 2.3em;
    
    border: none;
    border-radius: .2em;
    
    background-color: #DE5D35;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 200ms;
    
}

.table-header #filter button img{

    width: 1.5em;
    height: 1.5em;

}

.table-header #filter button:hover{

    background-color: #a74628;

    transition: 200ms;

}

.table-holder{

    width: 60em;
    height: 25em;

    background-color: #dcdcdc;

    border-radius: 0 0 1em 1em;

}

.table-holder table{

    width: 60em;

}