/* Tags Comuns */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{

    padding: 0;
    margin: 0;
    font-family: "Kanit", Arial, Helvetica, sans-serif;

}

body{

    overflow: hidden;

}
/* Fim das tags comuns */

/* Navbar */
.navbar{

    height: 6em;
    background-color: #313131;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 3em;
    padding-right: 3em;

}

.navbar h1{

    color: white;
    font-size: 3em;

}

.navbar .logo{

    height: 4.5em;
    width: 4.5em;
    border-radius: 3em;
    background-color: #FFD369;

    background-image: url('../images/logo.png');

    background-size: contain;
    background-repeat: no-repeat;

    background-position: center center;

}

.navbar .menu{

    display: flex;
    gap: 1.5em;

}

.navbar .menu button{

    width: 9em;
    height: 3.5em;
    background-color: #FFD369;

    border: none;
    border-radius: 2em;

    cursor: pointer;

    transition: 200ms;

}

.navbar .menu button:hover{

    transform: scale(1.1);
    background-color: #d6b056;

    transition: 200ms;

}

.navbar .menu .user-area{

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

}

.navbar .menu .user-area p{
    margin-bottom: .1em;
}

.navbar .menu .user-area .logout{

    display: flex;
    align-items: center;

}

.navbar .menu .user-area a{

    text-decoration: none;
    color: white;

}

.navbar .menu .user-area p{
    margin-left: .3em;
}

.navbar .menu .user-area .logout img{

    width: 1em;
    height: 1em;
    filter: invert(100%);
    margin-right: .2em;

}
/* Fim da navbar */

/* Classes de corpo */
.center{

    height: calc(100vh - 6em);

    display: flex;
    justify-content: start;
    align-items: center;

    flex-direction: column;

}

.table-header{

    margin-top: 3em;

    width: 60em;
    height: 4em;
    background-color: #313131;

    border-radius: 1em 1em 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Filtro */

.table-header #filter{
    margin-left: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.table-header #filter img{
    width: 1em;
    height: 1em;

    filter: invert(100%);

    cursor: pointer;
}

.table-header #filter button{
    width: 4em;
    height: 2em;

    border: none;
    border-radius: .5em;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #FFD369;
    
    transition: 200ms;
}

.table-header #filter button:hover{
    background-color: #d6b056;

    transition: 200ms;
}

.table-header #filter .selected{
    width: 4em;
    height: 2em;

    border: none;
    border-radius: .5em;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #DE5D35;
    
    transition: 200ms;
}

.table-header #filter .selected:hover{
    background-color: #a74628;

    transition: 200ms;
}

/* Fim do filtro */

/* Menu */
.table-header #menu{

    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.table-header #menu button{
    
    width: 2.3em;
    height: 2.3em;
    
    border: none;
    border-radius: .2em;

    cursor: pointer;
    
    background-color: #DE5D35;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 200ms;
    
}

.table-header #menu button img{

    width: 1.5em;
    height: 1.5em;

}

.table-header #menu button:hover{

    background-color: #a74628;

    transition: 200ms;

}

.table-header #menu p{
    color: white;
}

.table-header #menu .toggle{
    width: 3em;
    height: 1.5em;

    border: none;
    border-radius: 1em;

    background-color: #9a9a9a;
}

.table-header #menu .toggle::before{
    position: absolute;
    content: "";
    background-color: #fff;
    
    width: 1.3em;
    height: 1.3em;

    border-radius: 1em;
    margin: .1em;

    transition: 200ms;

}

.table-header #menu input[type='checkbox']{
    display: none;  
}

.table-header #menu input[type='checkbox']:checked + .toggle{
    background-color: #FFD369;
}

.table-header #menu input[type='checkbox']:checked + .toggle::before{
    transform: translateX(1.5em);
}
/* Fim do menu */

.table-holder{

    width: 60em;
    height: 25em;

    background-color: #dcdcdc;

    border-radius: 0 0 1em 1em;
    overflow-y: scroll;

}

.table-holder::-webkit-scrollbar{
    display: none;
}

.table-holder table{

    width: 60em;
    border-spacing: 0;
    text-align: center;

}

.table-holder table th{
    
    border: .1em solid grey;
    
}

.table-holder table td{
    border-bottom: .1em solid grey;
}

.table-holder table .normal-row:hover{
    background-color: #9a9a9a;
}

.table-holder table button{
    
    width: 2em;
    height: 2em;
    margin-top: .5em;
    margin-bottom: .5em;
    
    border: none;
    border-radius: .5em;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #FFD369;
    
    transition: 200ms;

}

.table-holder table button:hover{

    background-color: #d6b056;

    transition: 200ms;

}

.table-holder table button img{
    width: 1.5em;
    height: 1.5em;
}

/* Classes de estado do pedido */

.n-iniciado{

    text-transform: uppercase;
    width: 8em;

    padding: .5em;
    border-radius: 1em;

    font-weight: 600;
    color: white;

    background-color: #313131;
}

.em-andamento{
    text-transform: uppercase;
    width: 8em;

    padding: .5em;
    border-radius: 1em;

    font-weight: 600;
    color: white;

    background-color: #FFC436;
}

.concluido{

    text-transform: uppercase;
    width: 8em;

    padding: .5em;
    border-radius: 1em;

    font-weight: 600;
    color: white;

    background-color: #65B741;

}

.entregue{

    text-transform: uppercase;
    width: 8em;

    padding: .5em;
    border-radius: 1em;

    font-weight: 600;
    color: white;

    background-color: #49862f;

}

.cancelado{
    text-transform: uppercase;
    width: 8em;

    padding: .5em;
    border-radius: 1em;

    font-weight: 600;
    color: white;

    background-color: #EE4E4E;
}

/* Fim das classes de estado do pedido */